<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1098835378078-1ah043s8or3jga4edsrsenuocgqk61ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098835378078-1ah043s8or3jga4edsrsenuocgqk61ov</string>
	<key>API_KEY</key>
	<string>AIzaSyCpk_zFgd_q4d48WEzVbRQT1BIqC5Yiq2E</string>
	<key>GCM_SENDER_ID</key>
	<string>1098835378078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaiz</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a20f8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a20f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098835378078:ios:b69a8625cb016378</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-a20f8.firebaseio.com</string>
</dict>
</plist>